
@{
    ViewBag.Title = "WelcomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TitleSection{
    WelcomePage
}
@section HeaderSection{
    <style>
        table {
            border: 1px solid Black;
        }

        tr {
            border: 1px solid Black;
        }

        td {
            border: 1px solid Black;
        }

        th {
            border: 1px solid Black;
        }
    </style>
}
@section ContentBody{
    <h2>Welcome Page</h2>
}