
@using CompleteMVC.ViewModel
@model Users_ImageVM


@section TitleSection{
    SignUp2View
}
@section HeaderSection{
    <style>
        table {
            border: 1px solid Black;
        }

        tr {
            border: 1px solid Black;
        }

        td {
            border: 1px solid Black;
        }

        th {
            border: 1px solid Black;
        }

        .error {
            color: darkred;
        }
    </style>
    <script type="text/javascript">
        function fileCheck(obj) {
            
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            var myfileExtension = obj.value.split('.').pop();

            if (fileExtension.indexOf(myfileExtension) == -1) {
                alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            }
        }
    </script>
}
@section ContentBody{
    @using (Html.BeginForm("SignUp2", "UserRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="SignUp2">
            <table>
                <tr>
                    <td><input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" /></td>
                </tr>
                <tr>
                    <td align="left" colspan="2">
                        <input type="submit" id="SignUp2" name="SignUp2" value="Save and Next" />
                    </td>
                </tr>
            </table>
        </div>
    }
}

