
@using CompleteMVC.ViewModel
@model Users_ImageVM


@section TitleSection{
    Upload Image
}
@section HeaderSection{
    <style>
        .error {
            color: darkred;
        }

        .widthForm {
            width: 70%;
        }
    </style>
    <script type="text/javascript">
        function fileCheck(obj) {

            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            var myfileExtension = obj.value.split('.').pop();

            if (fileExtension.indexOf(myfileExtension) == -1) {
                alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            }
        }
    </script>
}
@section ContentBody{
    @using (Html.BeginForm("SignUp2", "UserRegistration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {

        <div class="form-group">
            @Html.LabelFor(m => m.UserImageFile, "Upload Your Photo", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 btn-group">
                <input type="submit" id="SignUp2" name="SignUp2" value="Save and Next" class="btn btn-primary" />
                <input type="submit" id="Skip" name="Skip" value="Skip For Later" class="btn btn-primary" />
            </div>
        </div>

    }
}

